body {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
}

.menu {
  width: 20%;
  background-color: #eeeeee;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #dddddd;
  position: fixed;
  height: calc(100% - 120px);
  left: 30px;
  top: 30px;
}

.logo {
  /* width: 20px; */
  margin: 0 auto;
  display: flex;
  cursor: pointer;
  position: absolute;
  left: 200px;
  width: 20%;
  height: 120px;
  left: 30px;
  top: 30px;
  margin-left: 10%;
  max-height: 100%;
  /* margin-left: 0.2rem; */
}

.menu ul {
  list-style-type: none;
  padding: 50px 0;
  margin-top: 80px;
  border-bottom: 1px solid #303841;
}

a {
  color: #303841;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.menu ul li {
  padding: 15px 0 15px 40px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 20px;
  cursor: pointer;
}

.menu ul li a {
  font-size: 20px;
  color: #303841;
  transition: all 0.3s ease-out;
}

.menu ul li:hover a,
.menu ul li.active a {
  color: #ff7e55;
}

.content {
  width: 70%;
  margin-left: 30%;
  box-sizing: border-box;
  /* padding: 20px 0; */
}

.userName {
  width: 90%;
  display: flex;
  padding: 30px;
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #dddddd;
  box-sizing: border-box;
  margin: 0 0 10px;
  max-height: auto;
}

.profile {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.photo {
  height: auto;
  width: 150px;
}

.photo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  overflow: hidden;
  display: block;
}

h1 {
  color: #303841;
  margin-top: 0;
  margin-left: 20px;
}

h2 {
  font-size: 16px;
  margin: 0;
  align-content: left;
  /* padding: 20px 0 5px 0px; */
  color: #303841;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
}

.filterHeader {
  padding: 20px 0 5px 0;
}
