.Chapter-1-btn {
  position: fixed;
  top: 275px;
  /* bottom: 600px; */
  left: 475px;
}
.Chapter-2-btn {
  position: fixed;
  bottom: 210px;
  left: 710px;
}
.Chapter-3-btn {
  position: fixed;
  bottom: 410px;
  right: 780px;
}
.Chapter-4-btn {
  position: fixed;
  bottom: 70px;
  right: 595px;
}
.Chapter-5-btn {
  position: fixed;
  bottom: 390px;
  right: 210px;
}
.Chapter-6-btn {
  position: fixed;
  top: 280px;
  right: 420px;
}
.Chapter-7-btn {
  position: fixed;
  top: 330px;
  right: 600px;
}
.Chapter-8-btn {
  position: fixed;
  top: 190px;
  right: 700px;
}
.Chapter-9-btn {
  position: fixed;
  top: 105px;
  right: 560px;
}
.Chapter-10-btn {
  position: fixed;
  top: 165px;
  right: 400px;
}
.Chapter-11-btn {
  position: fixed;
  top: 120px;
  right: 190px;
}
