.Chapter-1-btn {
  position: fixed;
  top: 220px;
  /* bottom: 600px; */
  left: 530px;
}
.Chapter-2-btn {
  position: fixed;
  bottom: 200px;
  left: 740px;
}
.Chapter-3-btn {
  position: fixed;
  bottom: 400px;
  right: 780px;
}
.Chapter-4-btn {
  position: fixed;
  bottom: 60px;
  right: 590px;
}
.Chapter-5-btn {
  position: fixed;
  bottom: 370px;
  right: 220px;
}
.Chapter-6-btn {
  position: fixed;
  top: 230px;
  right: 440px;
}
.Chapter-7-btn {
  position: fixed;
  top: 275px;
  right: 610px;
}
.Chapter-8-btn {
  position: fixed;
  top: 125px;
  right: 650px;
}
.Chapter-9-btn {
  position: fixed;
  top: 35px;
  right: 540px;
}
.Chapter-10-btn {
  position: fixed;
  top: 110px;
  right: 410px;
}
.Chapter-11-btn {
  position: fixed;
  top: 65px;
  right: 190px;
}
