.Section-1-btn {
  position: fixed;
  bottom: 165px;
  left: 430px;
}
.Section-2-btn {
  position: fixed;
  bottom: 475px;
  left: 745px;
}
.Section-3-btn {
  position: fixed;
  top: 273px;
  left: 450px;
}
.Section-4-btn {
  position: fixed;
  top: 130px;
  left: 980px;
}
.Section-5-btn {
  position: fixed;
  top: 280px;
  right: 595px;
}
.Section-6-btn {
  position: fixed;
  top: 170px;
  right: 345px;
}
.Section-7-btn {
  position: fixed;
  bottom: 485px;
  right: 120px;
}
.Section-8-btn {
  position: fixed;
  bottom: 255px;
  right: 405px;
}
.Section-9-btn {
  position: fixed;
  bottom: 370px;
  right: 645px;
}
.Section-10-btn {
  position: fixed;
  bottom: 200px;
  right: 830px;
}
