@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');

.ant-form-item-label {
  font-family: 'Cormorant Garamond', serif;
  white-space: normal;
  line-height: normal;
  width: 300px;
}

.content {
  padding-left: 30px;
  width: 100%;
  display: flex;
  /* padding: 30px; */
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #dddddd;
  box-sizing: border-box;
  /* margin: 0 0 10px; */
  max-height: 100%;
  font-family: 'Cormorant Garamond', serif;
}
