.event-home-button {
  padding: 20px;
  text-align: left;
  border: none;
  border-radius: 10px;
  background-color: rgb(113, 113, 113);
  display: flex;
  justify-content: space-between;
  color: white;
}
