.content,
.listings {
  margin-top: 30px;
  margin-left: 50px;
}

.listingRight {
  margin-top: 30px;
}

.card {
  background-color: #eeeeee;
  border-radius: 20px;
  box-shadow: 0 0 5px 1px #dddddd;
  box-sizing: border-box;
  max-height: 100%;
  display: flex;
  padding: 30px;
  width: 80%;
}

h1 {
  color: #303841;
  margin-top: 10px;
  margin-left: 20px;
}

h2 {
  font-size: 16px;
  margin: 0;
  align-content: left;
  padding: 20px 0 5px 0px;
  color: #303841;
}

.joineddate {
  font-style: italic;
}

.btn {
  margin: 10px;
  position: relative;
  top: 5;
  right: 5;
  align-content: right;
}

a {
  color: #303841;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
}

.header {
  width: 100%;
  display: flex;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
  display: flex;
  color: #ff7e55;
}

.listings {
  width: 100%;
  overflow: auto;
  /* padding: 20px 0; */
  white-space: nowrap;
  position: relative;
  display: flex;
}

.listings img {
  object-fit: contain;
  width: 200px;
  height: 200px;
}

.loading {
  position: absolute;
  left: 50%;
  top: 30%;
  margin: -60px 0 0 -60px;
  background: transparent;
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 10px solid #ff7e55;
}

.loading:after {
  content: '';
  background: transparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: #ff7e55 -4px -5px 3px -3px;
  animation: rotate 2s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

.loadingText {
  position: absolute;
  left: 46.5%;
  top: 33%;
}
