@keyframes rotateWords {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(-200%);
  }
  75% {
    transform: translateY(-300%);
  }
  100% {
    transform: translateY(0);
  }
}

.rotating-words {
  display: inline-block;
  animation: rotateWords 12s infinite;
}
