@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
}

.formBody {
  top: 150px;
  padding: auto;
  position: relative;
  word-wrap: normal;
}
