#back {
  width: fit-content;
  background-color: white;
  color: black;
  border: 1.5px solid black;
}

.event-page-tabs {
  display: flex;
  gap: 10px;
}

.event-page-tabs button {
  width: 100%;
  border-radius: 0;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid #2a85ff;
}

.event-page-tabs .active {
  background-color: #2a85ff;
}

.event-page-tabs .inactive {
  background-color: #b9eaff;
  color: #2a85ff;
}

#event-page {
  gap: 15px;
}

/* #event-page .header {
  margin: 15px 0;
} */
