#nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background-image: url("../../../public/images/fz_gradient_main.jpg");
  background-size: cover;
  background-color: black;
  height: 60px;
  padding: 20px;
  color: white;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

#nav-links {
  display: flex;
}

#nav-links button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
