.table {
  width: 100%;
  overflow-x: auto;
  display: flex;
}

table {
  border-collapse: collapse;
  min-width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 5px 10px;
}

td {
  font-weight: 500;
}

th {
  background-color: rgb(179, 179, 179);
}

.select-status {
  min-width: 200px;
}
