* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

html,
body,
body #root {
  overflow: hidden;
  height: 100%;
}

h5 {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

p {
  font-weight: 500;
}

button {
  cursor: pointer;
}

.App {
  height: 100%;
  text-align: center;
  background-color: white;
  color: black;
  padding: 20px;
  padding-top: 80px;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}
