.forms {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* style */
  background-color: white;
  width: 60%;
  min-width: 500px;
  padding: 40px;
  border-radius: 5px;
}

.forms form {
  /* flex */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-2up {
  display: flex;
  gap: 10px;
  align-items: center;
}
.forms input,
.forms select {
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  background-color: rgb(233, 233, 233);
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

/* .forms select {
  appearance: none;
  padding: 12px;
} */

/* .forms select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: black;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
} */

.forms input:focus,
.forms input:active,
.forms select:focus,
.forms select:active {
  outline: none;
}

.forms form button {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: none;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}

.pop-up-note {
  text-align: left;
}

.input-with-header {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 10px;
  background-color: rgb(233, 233, 233);
  border-radius: 15px;
  color: rgb(166, 166, 166);
}

.input-with-header h5,
.input-with-header h4 {
  padding-left: 15px;
}

.input-with-header h4 {
  padding: 10px 15px;
}

.group {
  flex: 1;
}

.facil {
  flex: 3;
}
